.container-form.min-vh-100.d-flex.justify-content-center.align-items-center
  .position-relative
    .d-block.shadow.rounded-4.p-4.mt-5.bg-light.block
      %h2.text-center.mb-4.h6 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render 'devise/shared/error_messages', resource: resource
        .mb-3.mt-3
          .field
            = f.text_field :login, placeholder: 'Login to your account', class: 'form-control rounded-5'
        .mb-3
          .field
            = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'example@gmail.com', class: 'form-control rounded-5'
        .mb-3
          .field
            = f.password_field :password, autocomplete: 'new-password', placeholder: 'password 6 symbols', class: 'form-control rounded-5'
        .mb-3
          .field
            = f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'password-confirmation', class: 'form-control rounded-5'
        .mb-3
          .field
            = f.select :gender, options_for_select([['gender'], ['male'], ['female']]), {},  { class: 'form-select rounded-5' }
        .mb-3
          .field
            = f.file_field :avatar, autocomplete: 'avatar', class: 'form-control rounded-5'
        .mb-3
          .actions
            = f.submit 'Sign up', class: 'btn btn-primary w-100 mt-3 text-light rounded-5 btn-authentication'
      .space-oauth.mt-4
        .space
        %span or
        .space
      .d-flex.justify-content-center.mb-3
        = render 'devise/shared/oauth_google'
      .d-flex.justify-content-center
        %p.pe-1 Already have an account?
        = render 'devise/shared/links'
    = button_to root_path, method: :get,  class: 'btn position-absolute rounded-circle border-0 shadow-sm close-button' do
      %i.bi.bi-x-lg