- if user_signed_in? && current_user.admin
  %p.mt-2
    %a.btn.btn-dark{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-bs-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
      Edit
  #collapseExample.collapse
    .card.card-body
      = form_with(model: @book, method: :put, local: true) do |f|
        .field
          = f.text_field :title, value: @book.title
          = f.text_field :descriptions, value: @book.descriptions
          = f.text_field :author, value: @book.author
          = image_tag @book.image.url
          = f.file_field :image
        .actions
          = f.submit 'Update book'
