%p.d-inline-flex.gap-1
  %a.btn.btn-dark{"aria-controls" => "multiCollapseExample1", "aria-expanded" => "false", "data-bs-toggle" => "collapse", :href => "#multiCollapseExample1", :role => "button"}
    %i.bi.bi-clock-history
.row
  .col
    #multiCollapseExample1.collapse.multi-collapse.mt-3
      .card.card-body.shadow-sm.rounded-4
        %h5.text-center.mb-3.text-muted History
        - if @book.histories.present?
          - @book.histories.order_by(created_at: :desc).limit(5).each do |history|
            .border-start.border-2.border-secondary.ps-3.mb-3.position-relative
              %i.bi.bi-circle-fill.position-absolute.top-0.start-0.translate-middle.text-secondary.fs-6
              .d-flex.justify-content-between
                %p.fw-semibold.mb-1.text-dark
                  %i.bi.bi-person-fill.me-1.text-secondary
                  = "Took: #{history.user.login}"
                %small.text-muted= history.created_at.strftime('%Y-%m-%d %H:%M')
              .d-flex.justify-content-between
                %p.mb-1
                  - if history.status == 'return'
                    %i.bi.bi-arrow-return-right.me-1.text-success
                    = "Return: #{history.user.login}"
                %small.text-muted= history.updated_at.strftime('%Y-%m-%d %H:%M')
        - else
          %p.text-muted.text-center.mb-0 History is empty
