= render 'navbar/navbar'
.ms-4
  = image_tag @book.image.url
  %p= @book.title
  %p= @book.descriptions
  %p= @book.author
  %p= @book.status
  - if @book.user_id.present?
    %p= @book.user.login

= turbo_frame_tag 'frame2' do
  = render 'books/likes'

= turbo_frame_tag 'frame3' do
  = render 'books/comments'

= turbo_frame_tag 'frame4' do
  -if user_signed_in?
    -if @book.status == 'Closed'
      = button_to 'Return book', book_update_status_path(@book), method: :put, class: 'btn btn-dark'
    -else
      = button_to 'Get the book', book_update_status_path(@book), method: :put, class: 'btn btn-dark'

- if @book.ratings.any?
  %p= (@book.ratings.map(&:score).sum.to_f/ @book.ratings.count).round(2)
  %p= "#{@book.ratings.count} vote"

= render 'books/rate'

= render 'books/edit_books'

= turbo_frame_tag 'frame5' do
  = render 'books/favorites'

- if @book.views.present?
  .d-flex.gap-1
    %i.bi.bi-eye.fs-4
    %p= @book.views

= render 'books/history'