= render 'navbar/navbar'
.container.mt-5.mb-5
  .d-flex.flex-column.flex-md-row.gap-4.w-100
    .d-block.w-100
      .text-center
        = image_tag @book.image.url, class: 'book-one-image'
      -if user_signed_in?
        -if @book.status == 'Closed'
          = button_to 'Return book', book_update_status_path(@book), method: :put, class: 'btn btn-dark w-100 rounded-5 mt-3'
        -else
          = button_to 'Get the book', book_update_status_path(@book), method: :put, class: 'btn btn-dark w-100 rounded-5 mt-3'
      = render 'books/edit_books'
      .border.border-light.bg-light.rounded-4.p-3.mt-3
        %p= "Book status: #{@book.status}"
        - if @book.user_id.present?
          %p= "Borrowed by: #{@book.user.login}"
    .d-block
      %h1.title-book= @book.title
      .d-flex.justify-content-between.align-items-center
        %div.d-flex.align-items-center.gap-3
          - if user_signed_in?
            = turbo_frame_tag 'frame2' do
              = render 'books/likes'
          -else
            .d-flex.gap-0.align-items-center
              = button_to new_user_session_path, method: :get, class: 'border-0' do
                %i.bi.bi-heart.fs-5
              %p= "Likes:#{@book.likes.count}"
          - if @book.views.present?
            .d-flex.gap-1.align-items-center
              %i.bi.bi-eye.fs-4
              %p= @book.views
          = turbo_frame_tag 'frame3' do
            - if user_signed_in?
              = render 'books/favorites'
        .d-flex.flex-column.align-items-center.justify-content-center
          - if @book.ratings.any?
            %p.h2.text-secondary= (@book.ratings.map(&:score).sum.to_f/ @book.ratings.count).round(2)
          -else
            %p.h2.text-secondary= 0
          %p.mb-3= "#{@book.ratings.count} votes"
          = render 'books/rate'
      .border.border-light.bg-light.rounded-4.p-2{ style: 'width:50%;' }
        %p.ms-2= "Author: #{@book.author}"
        %p.ms-2.mt-1= "Genre: #{@book.genre}"
      .border.border-light.bg-light.rounded-5.p-4.mt-3
        %p= @book.descriptions
      .border.border-light.bg-light.rounded-4.p-3.mt-3
        = render 'books/history'
      .mt-3
        = render 'books/comments'


